.Button {
	background-color: #2f9df8;
	display: inline-block;
	padding: 10px 25px;
	color: #fff;
	font-weight: 700;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;

	&:hover {
		cursor: pointer;
		filter: brightness(90%);
	}

	&.inverse {
		border: 1px solid #2f9df8;
		color: #2f9df8;
		background-color: #fff;

		&:hover {
			cursor: pointer;
			color: #fff;
			background-color: #2f9df8;
		}
	}
}
